.cal-sans-regular {
    font-family: "Cal Sans", sans-serif;
    font-style: normal;
}

header{
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#logo{
    width: 100px;
    padding: 20px;
}

.titolo{
    text-align: center;
    color: #a2ce8d;
    font-size: 55px;
    font-family: "Cal Sans", sans-serif;
    position: absolute;
    left: 40%;
}

.nav1{
    display: flex;
    gap: 30px;
    margin-right: 60px;
}

.links{
    color: #b5daa4;
    font-family: "Cal Sans", sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    border: 1px solid white;
    border-color: rgb(202, 202, 202);
    margin-right: 20px;
}

.nav1 .links:hover {
    background-color: #b5daa4;
    color: white;
}

.line{
    width: 100%;
}

body{
    background-color: rgb(26, 32, 32);
    padding: 0px;
    margin: 0px;
    font-family: "Cal Sans", sans-serif;
    font-size: 20px;
    text-align: center;
    align-items: center;
}

.content{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.titoletti{
    color: rgb(202, 202, 202);
    font-size: 30px;
    font-family: "Cal Sans", sans-serif;
    text-align: center;
}

p{
    text-align: center;
    padding: 10px;
}

.testo {
    padding: 10px;
    text-align: center;
    width: 30%;
    align-items: center;
    color: rgb(202, 202, 202);
}

.centrato{
    align-items: center;
    flex: auto;
}

.immagine img{
    width: 60%;
    border-radius: 50px;
}

.left{
    padding-left: 200px;
}

.right{
    padding-right: 200px;
}

ul{
    text-align: left;
}

footer{
    padding: 10px;
    margin-bottom: auto;
    background-color: #a2ce8d;
}

.fondo{
    color: #3b4d35;
    text-align: center;
}

/*css per pagina quiz*/
.quiz-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 0;
}

.quiz-image {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    border: 4px solid #b5daa4;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.quiz-image:hover {
    transform: scale(1.05);
}
